<div class="ui padded basic segment" data-th-fragment="top_menu">
  <div class="ui large secondary pointing menu">
    <a class="active item">Home</a>
    <a class="item">User</a>

    <div class="center aligned header item">
      <h1 style="color:#50933a">Spring social 2 cloud</h1>
    </div>

    <div class="right item" style="margin-left: 0% !important;">
      <a class="ui secondary basic button" style="margin-right: 1em">Log in</a>
      <a class="ui secondary basic button">Sign up</a>
    </div>
  </div>
</div>